@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --secondary-foreground: #777777;
  --border: #cccccc;
  --hover-foreground: #1f2937;
}

:root[data-theme="dark"] {
  --background: #000000;
  --foreground: #ffffff;
  --secondary-foreground: #666666;
  --border: #333333;
  --hover-foreground: #d1d5dc;
}

body {
  background: var(--background);
  color: var(--foreground);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
}

body.theme-transitions {
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.expertise-item {
  transition: border-color 0.3s ease;
  padding: 1rem 0;
  position: relative;
}

.expertise-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--foreground);
  transition: width 0.3s ease-out;
}

.expertise-item:hover::after {
  width: 100%;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.delay-9 {
  animation-delay: 0.9s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

::selection {
  background: var(--foreground);
  color: var(--background);
}
