@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-geist-mono);
}

code,
pre,
kbd,
samp {
  font-family: var(--font-geist-mono);
}

::selection {
  background: var(--foreground);
  color: var(--background);
}
