@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --secondary-foreground: #777777;
  --border: #cccccc;
  --hover-foreground: #1f2937;
}

:root[data-theme="dark"] {
  --background: #000000;
  --foreground: #ffffff;
  --secondary-foreground: #666666;
  --border: #333333;
  --hover-foreground: #d1d5dc;
}

body {
  background: var(--background);
  color: var(--foreground);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

::selection {
  background: var(--foreground);
  color: var(--background);
}
